apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
stringData:
  mysql-root-password: "rootpassword123"
  mysql-database: "mydb"
  mysql-user: "appuser"
  mysql-password: "apppassword123"
